.navbar {
    padding: 13px 20px;
    display: flex;
    align-items: center;
    /* background-color: #650691;#3A1078 #2F58CD #3795BD*/
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.navbar-logo-img {
    height: 40px;
    width: auto;
}

.navbar-title {
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}