<div class="character-item-container">
    <div class="character-item-principal-data">
        <div class="contenedorImg" [ngClass]="{'hover': hover}"
        (mouseenter)="hover = true"
        (mouseleave)="hover = false">
          <label>
            <img class="character-item-image" [src]="character.imagen" height="100" width="100">
            <span class="cambiarFotoPerfil">Cambiar</span>
            <input id="fileInput" type="file"  (change)="onFileSelected($event)" style="display: none;">
          </label></div>
        <div class="character-item-principal-data-text-container">
            <div class="character-item-principal-data-text">
                {{ character.nombre }}
            </div>
            <div class="character-item-principal-data-text">
                {{ character.clase }}
            </div>
            <div class="character-item-principal-data-text">
                {{ character.alineamiento }}
            </div>
        </div>
        <div style="flex: 1 1 auto; min-width: 0">
        </div>
        <div class="character-item-level-data">
            <div class="character-item-level-data-item">
                <div>
                    Nv:
                </div>
                <div style="margin-left: 5px; width: 60px">
                    <input nz-input [ngModel]="character.nivel"
                        (focusout)="inputStringFocusOutAttributeEvent($event, 'nivel')"
                        (keyup.enter)="editAttributeCharacter($event, 'nivel', {isNumber: true})">
                </div>
            </div>
            <div class="character-item-level-data-item">
                <div>
                    Px:
                </div>
                <div style="margin-left: 5px; width: 60px">
                    <input nz-input [ngModel]="character.experiencia"
                        (focusout)="inputStringFocusOutAttributeEvent($event, 'experiencia')"
                        (keyup.enter)="editAttributeCharacter($event, 'experiencia', {isNumber: true})">
                </div>
            </div>
        </div>
    </div>
    <div class="character-item-level-data-item-container">
        <div class="character-item-level-data-item-inventory-container">
            <a (click)="openInventory()">
                <img src="assets/mochila.png" alt="Descripción de la imagen" width="50" height="50">
            </a>
            <a (click)="openHabilidades()">
                <img src="assets/libro.png" alt="Descripción de la imagen" width="50" height="50">
            </a>
        </div>
        <div class="character-item-level-data-item-png-container">
            <div class="character-item-level-data-item-png">
                <img src="assets/blindaje.png" alt="escudo" width="60" height="60">
                <input nz-input [ngModel]="character.claseArmadura" 
                    (focusout)="inputStringFocusOutAttributeEvent($event, 'claseArmadura')"
                    (keyup.enter)="editAttributeCharacter($event, 'claseArmadura', {isNumber: true})">
            </div>
            <div class="character-item-level-data-item-png">
                <img src="assets/corazon.png" alt="corazon" width="50" height="50">
                <input nz-input [ngModel]="character.vida"
                    (focusout)="inputStringFocusOutAttributeEvent($event, 'vida')"
                    (keyup.enter)="editAttributeCharacter($event, 'vida', {isNumber: true})">
            </div>
        </div>
    </div>
</div>

<app-character-inventory-modal #characterInventoryModal></app-character-inventory-modal>
<app-character-skills-modal #characterSkillsModal></app-character-skills-modal>