<nz-modal nzCentered [(nzVisible)]="isVisible" (nzOnCancel)="close()" [nzMaskClosable]="false">
    <ng-container *nzModalTitle>
        Inventario - {{ character.nombre }}
    </ng-container>
    <ng-container *nzModalContent>
        <nz-spin [nzSpinning]="loading">
            <nz-table [nzData]="habilidades" [nzPageSize]="999" [nzShowPagination]="false">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th nzWidth="20px">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let habilidad of habilidades; let i = index">
                        <td>{{ habilidad.nombre }}</td>
                        <td>
                            <div style="display: flex; justify-content: center;">
                                <span nz-icon nzType="delete" nzTheme="outline" style="cursor: pointer;" (click)="deleteObject(habilidad, i)"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-spin>
    </ng-container>
    <ng-container *nzModalFooter>
        <div style="display: flex;" class="inventory-modal-buttons-footer">
            <button nz-button nzType="primary" [disabled]="loading">Aceptar</button>
            <button nz-button nzType="primary" nzDanger (click)="close()">Cancelar</button>
        </div>
    </ng-container>
</nz-modal>
